This is where I enter set up the data entry for my coffee. There are improvements that could be made, but for now, it gets the job done.

In [1]:
import numpy as np
import pandas as pd

I ask for inputs that then get placed into a dataframe before concatenating the new data to my existing csv. There should be more if else statements if this was going into a production but for my own personal use, I believe it is in an acceptable state.

In [2]:
# Get the coffee info from that day

dummy_df = pd.DataFrame()

coffee_yn = input("Did you have coffee today? ")

coffee_yn = coffee_yn.lower()
if coffee_yn == 'y' or coffee_yn == 'yes':
    date_input = input('Enter the date: ')
    brand_input = input('Enter the brand of coffee used: ')
    roast_input = input('Enter the roast: ')
    blend_input = input('Enter the blend name: ')
    ice_input = input('Was the coffee made over ice? ')
    grind_input = input('What grind size was used? ')
    method_input = input('What method was used to brew? ')
    coffee_input = input('How much coffee in grams was used? ')
    water_input = input('How much water was used to brew? ')
    ice_amount = input('How much ice was used? ')
    bloom_input = input('How long was the coffee allowed to bloom? ')
    rating_input = input('What was the overall rating of the coffee? ')
    new_row = {'Date': date_input, 'Brand': brand_input, 'Roast':roast_input, 
               'Blend': blend_input, 'Iced': ice_input,
              'Grind_size': grind_input, 'Method': method_input, 'Amount_coffee': coffee_input,
               'Amount_water': water_input, 'Amount_ice': ice_amount, 'Bloom_time': bloom_input, 
               'Rating': rating_input}

    dummy_df = dummy_df.append(new_row, ignore_index = True)
        
else:
    print('Have a good day')

Did you have coffee today? yes
Enter the date: 12/19/2022
Enter the brand of coffee used: bason
Enter the roast: unknown
Enter the blend name: mistletoe java
Was the coffee made over ice? no
What grind size was used? 11
What method was used to brew? chemex
How much coffee in grams was used? 35
How much water was used to brew? 559
How much ice was used? n/a
How long was the coffee allowed to bloom? 45
What was the overall rating of the coffee? 8.0

In [3]:
#Ensuring that the info got put into the df
dummy_df

,Date,Brand,Roast,Blend,Iced,Grind_size,Method,Amount_coffee,Amount_water,Amount_ice,Bloom_time,Rating
0,12/19/2022,bason,unknown,mistletoe java,no,11,chemex,35,559,n/a,45,8.0

In [4]:
#df = pd.DataFrame(columns = ['Date', 'Brand', 'Roast', 'Blend', 'Iced',
#                         'Grind_size', 'Method', 'Amount_coffee', 
#                        'Amount_water', 'Amount_ice', 'Bloom_time', 
#                             'Rating'])

In [5]:
#print(df)

In [6]:
#df = pd.concat([df, dummy_df], ignore_index = True)

In [7]:
#df.to_csv('coffee.csv')

In [8]:
# Reading in the master df
coffee_df = pd.read_csv('coffee.csv', index_col = 0)
coffee_df.tail(10)

,Date,Brand,Roast,Blend,Iced,Grind_size,Method,Amount_coffee,Amount_water,Amount_ice,Bloom_time,Rating
178,12/07/2022,bason,dark,mexican dark,no,6,aeropress,22,242,NaN,0,8.25
179,12/08/2022,bason,medium / dark,santa's wintertime blend,no,11,chemex,35,556,NaN,45,8.25
180,12/09/2022,bason,dark,mexican dark,no,6,aeropress,22,245,NaN,0,8.00
181,12/09/2022,bason,dark,mexican dark,no,11,french press,35,553,NaN,0,8.25
182,12/11/2022,bason,unknown,jingle bell java,no,11,chemex,35,553,NaN,45,8.75
183,12/14/2022,bason,unknown,Mistletoe Java,no,6,aeropress,22,250,NaN,0,8.50
184,12/14/2022,bason,unknown,Mistletoe Java,no,11,chemex,35,550,NaN,45,8.25
185,12/15/2022,bason,unknown,Mistletoe Java,no,11,chemex,35,552,NaN,45,8.00
186,12/16/2022,bason,unknown,mistletoe java,no,11,chemex,35,555,NaN,45,8.25
187,12/19/2022,bason,unknown,mistletoe java,no,11,chemex,35,556,NaN,45,8.00

In [9]:
#df_1 = coffee_df[coffee_df['Brand'] == 'Red Rooster']
#print(df_1)

In [10]:
# Joining the day into the master
df = pd.concat([coffee_df, dummy_df], ignore_index = True)
df.tail(10)

,Date,Brand,Roast,Blend,Iced,Grind_size,Method,Amount_coffee,Amount_water,Amount_ice,Bloom_time,Rating
179,12/08/2022,bason,medium / dark,santa's wintertime blend,no,11,chemex,35,556,NaN,45,8.25
180,12/09/2022,bason,dark,mexican dark,no,6,aeropress,22,245,NaN,0,8.0
181,12/09/2022,bason,dark,mexican dark,no,11,french press,35,553,NaN,0,8.25
182,12/11/2022,bason,unknown,jingle bell java,no,11,chemex,35,553,NaN,45,8.75
183,12/14/2022,bason,unknown,Mistletoe Java,no,6,aeropress,22,250,NaN,0,8.5
184,12/14/2022,bason,unknown,Mistletoe Java,no,11,chemex,35,550,NaN,45,8.25
185,12/15/2022,bason,unknown,Mistletoe Java,no,11,chemex,35,552,NaN,45,8.0
186,12/16/2022,bason,unknown,mistletoe java,no,11,chemex,35,555,NaN,45,8.25
187,12/19/2022,bason,unknown,mistletoe java,no,11,chemex,35,556,NaN,45,8.0
188,12/19/2022,bason,unknown,mistletoe java,no,11,chemex,35,559,n/a,45,8.0

In [11]:
#df.drop(df.columns[[0]], axis = 1, inplace=True)
#df

In [12]:
# New Master dataframe
df.to_csv('coffee.csv')